@import "../abstracts/mixins";

.copy-container {
  @extend %overlay-container;

  .copy-popup {
    @extend %overlay-container-popup;
  }
}

.copy-container {
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.copy-popup {
  &.active {
    transform: translateY(0);
  }
}
